.radar-chart-container {
  grid-area: radar-chart;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  padding-top: 3vh;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: white;
}

.radar-chart-title {
  font-size: 26px;
}

