/* Main container styles and media queries */

@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Archivo', sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 0.33fr;
  grid-template-rows: 1fr 0.15fr 0.15fr 0.6fr;
  grid-template-areas:
    "header header"
    "instructions instructions"
    "input-field search-button"
    "data-container data-container";
  text-align: center;
}

.data-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "radar-chart average-calculation";
  grid-area: data-container;
  gap: 0% 2%;
  padding: 3px;
  z-index: -1;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 1%;
  margin-top: 2%;
}


@media only screen and (max-width: 2100px) {
  body {
    padding-bottom: 2vh;
  }

  .instructions {
    margin-top: 2vh;
  }

  .average-calculation {
    padding-bottom: 1vh;
  }

  .radar-chart-container {
    display: flex;
    flex-direction: column;
  }

  .radar-chart-title {
    padding-bottom: 3.5vh;
  }
}


@media only screen and (max-width: 1150px) {
  .container {
    grid-template-columns: 1fr 0.33fr;
    grid-template-rows: 1.4fr 0.15fr 0.15fr 0.6fr;
  }

  .hero-container {
    display: inline-block;
    box-sizing: border-box;
    padding-bottom: 0%;
    height: 100%;
    width: 100%;
  }

  .header {
    font-size: 1.5em;
    letter-spacing: 2px;
    line-height: 160%;
    position: relative;
    z-index: 2;
    top: 50%;
  }

  .av-score-heading {
    padding-top: 3.5vh;
  }

  .radar-chart-title {
    padding-bottom: 1vh;
  }
}


@media only screen and (max-width: 800px) {

  .radar-chart-title {
    padding-top: 1vh;
    padding-bottom: 1.5vh;
    font-size: 20px;
  }

  .av-score-heading {
    font-size: 20px;
  }

  .instructions {
    font-size: 18px;
    line-height: 150%;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 0%;
    margin-bottom: 3%;
  }

  .arrow {
    width: 7%;
  }
}


@media only screen and (max-width: 650px) {
  .container {
    grid-template-columns: 1fr 0.33fr;
    grid-template-rows: 1fr 0.1fr 0.1fr 2fr;
  }

  .data-container {
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 80%;
    gap: 5%;
  }

  .av-score-heading {
    padding-bottom: 4vh;
  }

  .info-link {
    font-size: 14px;
    margin-left: 5%;
    margin-right: 5%;
    line-height: 140%;
  }
}



@media only screen and (max-width: 420px) {
  .container {
    grid-template-columns: 1fr 0.22fr;
    grid-template-rows: 1fr 0.1fr 0.1fr 2.5fr;
  }

  .header {
    font-size: 0.9em;
    letter-spacing: 2px;
    line-height: 160%;
    position: relative;
    z-index: 2;
    top: 30%;
  }

  .instructions {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 0.1px;
    margin-left: 4%;
    margin-right: 4%;
  }

  .label {
    font-size: 10px;
  }

  .input-field {
    height: 30px;
    width: 100%;
  }

  .input-field-container {
    padding-left: 6%;
    padding-bottom: 2vh;
  }

  .search-button {
    font-size: 12px;
    font-weight: 600;
    height: 35px;
    width: 40px;
    margin-top: 0.7vh;
    margin-left: 5%;
  }

  .suggestion-container {
    width: 92%;
    margin-left: 1%;
  }

  .suggestions {
    font-size: 15px;
  }

  .radar-chart-container {
    padding-top: 2vh;
    padding-bottom: 4vh;
  }

  .radar-chart-title {
    font-size: 16px;
  }

  .radar-chart {
    font-size: 12px;
    padding-top: 2vh;
  }

  .average-calculation {
    display: flex;
    flex-direction: column;
  }

  .av-score-heading {
    font-size: 16px;
  }

  .av-score {
    font-size: 16px;
    width: 80px;
    height: 80px;
    line-height: 80px; /* same as height to vertically allign */
    border-radius: 50%;
  }

  .info-link {
    padding-top: 2vh;
     font-size: 11px;
  }
}

