@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


body {
  font-family: 'Archivo', sans-serif;
}


.container {
  display: grid;
  grid-template-columns: 1fr 0.33fr;
  grid-template-rows: 1fr 0.15fr 0.15fr 0.6fr;
  grid-template-areas:
    "header header"
    "instructions instructions"
    "input-field search-button"
    "data-container data-container";
  text-align: center;
}


.data-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "radar-chart average-calculation";
  grid-area: data-container;
  gap: 0% 2%;
  padding: 3px;
  z-index: -1;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 1%;
  margin-top: 2%;
}


@media only screen and (max-width: 2100px) {
  body {
    padding-bottom: 2vh;
  }

  .instructions {
    margin-top: 2vh;
  }

  .average-calculation {
    padding-bottom: 1vh;
  }
}

@media only screen and (max-width: 1150px) {
  .data-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.4fr 0.4fr;
    gap: 0px 0px;
    grid-auto-flow: column;
    grid-template-areas:
      "radar-chart"
      "average-calculation";
    gap: 5%;
    justify-self: center;
    margin-bottom: 6%;
  }

  .radar-chart-container {
    max-width: 70vw;
  }

  .average-calculation {
    max-width: 70vw;
    min-height: 55vh;
  }

  .instructions {
    margin-top: 0%;
  }

  .hero-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0%;
    height: 99%;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 0.33fr;
    grid-template-rows: 0.7fr 0.15fr 0.15fr 0.6fr;
  }
}

@media only screen and (max-width: 800px) {
  .header {
    font-size: 1.5em;
    letter-spacing: 2px;
    line-height: 150%;
  }

  .instructions {
    font-size: 18px;
    line-height: 150%;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 0%;
    margin-bottom: 3%;
  }

  .search-button {
    font-size: 14px;
  }

  .radar-chart-container {
    max-width: 70vw;
  }

  .average-calculation {
    max-width: 70vw;
    min-height: 50vh;
  }
}

@media only screen and (max-width: 400px) {
  .header {
    font-size: 1em;
  }

  .instructions {
    font-size: 16px;
  }
}

